<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false">

  <extensions>
    <add assembly="Elastic.CommonSchema.NLog"/>
    <add assembly="Elastic.NLog.Targets"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="auditFile"
            fileName="${basedir}/logs/audit-${shortdate}.log"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="userId" layout="${event-properties:item=userId}" />
        <attribute name="userEmail" layout="${event-properties:item=userEmail}" />
        <attribute name="userRole" layout="${event-properties:item=userRole}" />
        <attribute name="action" layout="${event-properties:item=action}" />
        <attribute name="entityType" layout="${event-properties:item=entityType}" />
        <attribute name="entityId" layout="${event-properties:item=entityId}" />
        <attribute name="marinaId" layout="${event-properties:item=marinaId}" />
        <attribute name="details" layout="${event-properties:item=details}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="ElasticSearch"
            name="auditElastic"
            nodeUris="${configsetting:item=NLog.ElasticSearchUri}"
            index="marina-audit-${date:format=yyyy.MM.dd}">
      <layout xsi:type="EcsLayout">
        <metadata name="userId" layout="${event-properties:item=userId}" />
        <metadata name="userEmail" layout="${event-properties:item=userEmail}" />
        <metadata name="userRole" layout="${event-properties:item=userRole}" />
        <metadata name="action" layout="${event-properties:item=action}" />
        <metadata name="entityType" layout="${event-properties:item=entityType}" />
        <metadata name="entityId" layout="${event-properties:item=entityId}" />
        <metadata name="marinaId" layout="${event-properties:item=marinaId}" />
        <metadata name="details" layout="${event-properties:item=details}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="BoatSpotFinder.Infrastructure.Logging.NLogAuditLogger" minlevel="Info" writeTo="auditFile" />
    <logger name="BoatSpotFinder.Infrastructure.Logging.NLogAuditLogger" minlevel="Info" writeTo="auditElastic">
      <filters defaultAction="Log">
        <when condition='length("${configsetting:item=NLog.ElasticSearchUri}") == 0' action="Ignore" />
      </filters>
    </logger>
  </rules>

</nlog>
